*
{
    padding: 0;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body
{
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.logo
{
    background-color: #000;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.contactList
{
    list-style: none;
}

.contact img
{
    width: 2.5rem;
    margin-right: 1rem;
}

.contact
{
    font-size: 2rem;
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    border-radius: 1rem;
    background-color: beige;
}

.contact a
{
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: #000;
    display: flex;
    align-items: center;
}